.main {
    margin-top: 10em;
}

.question, .topic {
    white-space: nowrap;
    overflow: hidden;
}

.ellipsis {
    text-overflow: ellipsis;
}

.modalcontent {
    word-wrap: break-word
}

.scrollable {
    height: 400px;
    overflow-y: auto;
}