{% extends "base.html" %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" href="../static/css/codestyles.css">
{% endblock %}
{% block content %}
    <div class="ui segment">
        <div class="ui stackable grid">
            {% for card in cards %}
            <div class="four wide column">
            <div class="ui fluid card">
                    <div class="content">
                        <div class="topic ellipsis header">
                            {{card.topic}}
                        </div>
                        <div class="question ellipsis meta">
                            {{card.question}}
                        </div>
                        <div class="description">
                        Here will be the answer for the question answered by the user.
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui yellow fluid button" onclick="showModal(this)">See Answer</div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
    <div class="ui long modal">
        <i class="close icon"></i>
        <div class="modaltitle header">
            Test
        </div>
        <div class="modalcontent content"> 
            <!-- Question/Code goes here! -->
        </div>
        <div class="actions">
            <div class="ui red deny button">
            Hm, review!
            </div>
            <div class="ui positive right labeled icon button">
            Yep, I know this one!
            <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
{% endblock %}