{% extends "base.html" %}
    {% block content %}    
    <div class="ui main container">
        <div class="ui grid">
            <div class="row">
                <div class="sixteen column wide center aligned">
                    <div class="ui two statistics">
                        <div class="statistic">
                            <div class="value">
                            {{ total_cards }}
                            </div>
                            <div class="label">
                                Card(s)
                            </div>
                        </div>  
                        <div class="statistic">
                            <div class="value">
                                {{ all_topics }}
                            </div>
                            <div class="label">
                            Different Topic(s)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="eight wide column">
                    <div class="ui stacked segment">
                        <a class="ui black ribbon label">Topic</a>
                        {% if card %}
                        <h1 class="ui header">{{ card.topic }}</h1>
                        {% else %}
                        <h1 class="ui header">Topic will go here:</h1>
                        {% endif %}
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="ui stacked segment">
                        <a class="ui green ribbon label">Question</a>
                        <a class="ui green right corner label" href="/cards/new">
                            <i class="plus icon" style="cursor: pointer;"></i>
                        </a>
                        {% if card%}
                        <h1 class="ui header">{{ card.question }}</h1>
                        {% else %}
                        <h1 class="ui header">Question will go here:</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                {% if card%}
                <div class="sixteen wide column">
                    <a class="ui right floated massive green button" href="/cards/{{ card.id }}">Edit!</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div> 
    {% endblock %}